
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.logout {
    color: black!important;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    padding: 4px 28px;
    margin-left: 17px;
}

.show {
    margin-right: 30px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.feedback-group {
    display: flex;
}

.basket {
position: relative;

}


.basket-times {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: transparent;
    color: red;
    border: none;
}
.basket-times:hover {
    background-color: transparent;
    border: none;
    color: red;
}
.list svg{
    margin-right: 8px;
}
.file{
    border-radius: 6px;
    border: 1px solid #007bff;
}
